@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1.5px;
}

/*-------------------ESTILOSDELHEADER---------------------*/
.header{
    width:100%;
    margin:auto;
    background: #775A2A;
    margin-bottom: 10px;
    position: fixed;
    z-index:100;
    top: 0;
    box-shadow: 0px 4px 3px rgba(0,0,0,.5)
}
 .contenedorhead{
    margin: auto;
    width: 80%;
}
.logo{
    display: inline-block;
}
.logoscroll{
    display: none;
}
.nav{
    float: right;
    display: inline-block;
    margin-top: 15px;
    
}
.menu{
    list-style: none;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 4px;
    
}
.menu-icon{
    float: left;
    padding: 20px;  

}
.menu-item{
    text-decoration: none;
    padding: 10px;
    color:#fff;
}
.menu-icon a:hover{
    background: #5D461D;
}

.icon-menu{
    display:none;
    width:40px;
    height:40px;
    background-image: url(../img/iconomenu.png);
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    line-height:45px;
    border-radius:5px;
    margin-left: auto;
    cursor:pointer;
    position: absolute;
    top: 1em;
    right: 2em;
}

.mostrar{
    left: 0;
}

/*-------------------MENU RESPONSIVE-------------------------*/
    @media screen and (max-width:1024px){
        .icon-menu{
            display:block;
            
        }
       .nav{
    position:absolute;
    top:108px;
    left:100%;
    width:100%;
    z-index: 999;
    transition: all 0.5s;
    background: blue;
    margin: 0px;
    padding: 0px;
    }

.menu{
    list-style: none;
    padding: 0;
    margin:0;
    display: block;
}
.menu-item{
    display: block;
    padding: 15px;
    background: #896C42;
    text-decoration:none;
    text-align: center;
    color:white;
    opacity: 80%;
    margin-top: 0px; 
}
.menu-icon{
    display: block;
    float:none;
    margin: 0px;
    width: 100%;
    display: block;
    padding: 15px;
    background: #896C42;
    text-decoration:none;
    text-align: center;
    color:white;
    opacity: 80%;
    margin-top: 0px;
    
}
       
.menu-item:hover{
    background: red;
    color:black;
    text-align: center;
}
.mostrar{
    left: 0;
}
        
    }
/*------------------------------SECCION IMAGEN----------------*/
.contenedorfoto{
    margin:auto;
    margin-top: 108px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#intento{
    background-image: url(../img/bannermantecada.jpg);
}
.titulo{
    margin: auto;
    border: 10px solid #fff;
    
}
.titulo h1{
    font-size: 110px;
    color: white;
    font-weight: 700;
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
}

/*------------------MEDIA IMAGEN-----------------------*/

@media screen and (max-width:1024px){
    .titulo{
        width: 60%;
    
    align-items: center;
    }
    .titulo h1{
        font-size: 11vw;
    }
    .titulo{
        border: 7px solid #fff;
    }
}

}
/*---------------------------SECCION LISTA PRODUCTOS-----------------*/

.cajatitulo{
    justify-content: center;
}
.cajatitulo .nombreseccion{
    margin: auto;
    padding: 1em;
    text-align: center;
   
}
.linea{
    border-top: 20px solid #775A2A;
    margin-bottom: 40px;
}
.listaproductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}
.item{  
    display: inline-block;
    border: black px solid;
    transition:all .2s ease-out;
    width: 80%;
    margin: auto;
    box-shadow: 0px 8px 10px rgba(0,0,0,.5);
    transform:scale(1);
    margin-top: 25px;
    border-radius:15px;
    max-width:300px;
    text-align:center; 
    height:450px;
}
.item:hover{
    transform:scale(1.03);
}
.item img{
    margin: auto;
    margin-top: 1.5em;
    padding-left:  0.5em;
   padding-right: 0.5em;
    
}
.titulillos{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.8em;
}

.try{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    text-align: left;
    margin: auto;
    margin-top: -20px;
    padding-bottom: 2em;
}
.contenedor{
    padding-bottom: 5em;
}
.descripcion{
    text-align:center;
}
/*------------------ MEDIA LISTA PRODUCTOS----------*/
@media screen and (min-width:1024px){
    .item{
        width: 23%;
        margin-top: 25px;
        height:400px;
    }
    .item img{
        width: 80%;
        margin-top: 1.5em;
        
    }
    .listaproductos{
        width: 88%;
        justify-content: space-between;
        margin: auto;
    }
    
    
}

/*----------------------------SECCION ESPECIFICO---------------*/
.contenedorespecificaciones{
    display: block;
    width: 100%;
    margin-top: 4em;
    padding-bottom: 3em;
}
.especifico{
    
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    padding-top: 2em;
    padding-left: 2em;
    border-top: 5px solid #775A2A;
    border-left: 3px solid #775A2A;
}
.productodiferente{
    width: 28%;
    background: ;
}
    .productodiferente h3{
        text-align: center;
        padding: 0.8em;
        background: #775A2A;
        font-size: 1.5em;
        color: white;
    }
.productodiferente img{
    padding: 10px;
    box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}
.especificaciones{
    width: 50%;
    padding-left: 3em;
    margin: auto;
    border-left: 3px dashed #775A2A;
    
}

.sabores{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
    margin: auto;
}
.sabor{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 8em;
    margin-left: 1em;
    margin-bottom: 1em;
}
.sabor h5{
    font-size: 1.1em;
}

/*----------------------MEDIA ESPECIFICACIONES----------------------*/
@media screen and (max-width:1024px){
    .productodiferente{
    width: 100%;
}
    .especifico{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    background: none;
}
    .especificaciones{
    width: 100%;
    margin: auto;
    background: none;
}
    .textodiferente{
    padding:1em; 
     background: none;
}
    .sabores{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
    margin: auto;
     background: none;
}
.sabor{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 8em;
   margin: auto;
     background: none;
}
    
}
/*--------------------------------FOOTER---------------------------*/

footer{
    background: #775A2A;
    height: 200px;
    width: 100%;
    display:block;
    
}
.divfooter{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    }
.footeriz{
    width: 40%;
    display: flex;
    margin-top: 3em;
    
}
.footerder{
   
    width: 40%;
    display: inline-block;
    margin-left: 7em;
    text-align: center;
     color: #fff;
    margin-top: 3em;
}

.red{
    display: inline-block;
    width: 50px;
    margin-left: 3em;
}


/*--------------------------------FOOTER---------------------------*/

footer{
    background: #775A2A;
    height: 200px;
    width: 100%;
    
}
.divfooter{
    width: 80%;
    margin: auto;
    margin-top: 3em;
    display: flex;
    }
.footeriz{
    width: 40%;
    display: flex;
    
}
.footerder{
   
    width: 40%;
    display: inline-block;
    margin-left: 7em;
    text-align: center;
     color: #fff;
}

.red{
    display: inline-block;
    width: 50px;
    margin-left: 3em;
}


/*-----------------------------------MEDIA FOOTER----------------------*/

@media screen and (max-width:1024px){
    .divfooter{
        width: 80%;
    }
    .footeriz{
        width: 80%;
        margin: auto;
        display: block;
        
    }
    .linearedes{
        margin: auto;

    }
    .footerder{
        margin-top: 3em;
        margin-left: 0;
        width: 60%;
    }
    footer{
        height: 300px;
    }
    .red{
        margin-left: 1em;
    }
}

@media screen and (max-width:500px){
      .divfooter{
        width: 90%;
          display: block;
          margin: auto;
    }
    .footeriz{
        width: 80%;
        margin: auto;
        display: block; 
        padding-top: 20px;
        
    }
    .linearedes{
        margin: auto;
        justify-content: center;
        margin-top: 20px;
        

    }
    .red{
        margin-left: 12%
    }
    .footerder{
        
        margin-left: 20%
    }
    footer{
        height: 300px;
    }
}